@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

$background-color: #F2F2F2;
$input-color: #DFDFDF;
$button-color: #13A378;
$button-hover-color: #1B785C;
$button-font: #FFFFFF;
$link-color: #13A330;
$link-hover-color: #1B785C;

body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Login container */
    /* Smartphone */
    .login-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 10px;
        padding: 10px;
        font-family: 'Red Hat Text';
    }

    /* Tablets */
    @media only screen and (min-width: 500px) and (max-width: 800px) {
        .login-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 10px;
            padding: 10px;
            font-family: 'Red Hat Text';
        }
    }

    /* Desktops */
    @media only screen and (min-width: 800px) {
        .login-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;
            margin: 10px;
            padding: 10px;
            font-family: 'Red Hat Text';
        }
    }

img {
    width: 100%;
}

input {
    width: 100%;
    background: $input-color;
    border: 0px;
    border-radius: 1rem;
    padding: 0.7rem;
    margin: 0.7rem;
    font-family: 'Red Hat Text';
}

button {
    width: 100%;
    background: $button-color;
    border: 0px;
    border-radius: 1rem;
    padding: 0.7rem;
    margin: 0.7rem;
    color: $button-font;
    font-family: 'Red Hat Text';
}

button:hover {
    background: $button-hover-color;
}

.required {
    border: 1px solid rgb(233, 94, 94);
}

a, a:visited {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
}